@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4 style="font-weight: 400;">Bem vindo ao site da veterinária</h4>
    <img src="/Imagens/pets.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.</p>
    <p>Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames</P>
    <p>ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus.</p> 
    <p>Nam mattis, felis ut adipiscing.</p>
</div>
