@{
    ViewData["Title"] = "Serviços";
}
<h4 style="font-weight: 400;">@ViewData["Title"]</h4>

<section>
    <link rel="stylesheet" href="~/css/site.css" />
    <ul>
        <li>Consultas Clínico Geral</li>
        <ul>
            <li>Profissionais especializados e prontos a atender seu Pet em uma moderna estrutura física que comporta, simultaneamente, consultas e exames, 
            24 horas por dia. Pronto Atendimento de excelência ao seu dispor. Acolher seu Pet e você é nosso ponto alto!</li>
            <li>Valor: R$ 80,00</li>
        </ul>
        <li>Castração</li>
        <ul>
            <li>A Castração de animais de companhia é muito bem estabelecida na Medicina Veterinária como um procedimento importante para aumentar a 
            longevidade e qualidade de vida dos pacientes.</li>
            <li>Valor: R$ 120,00</li>
        </ul>
        <li>Vacinação Veterinária</li>
        <ul>
            <li>A PetVet dispõe das melhores marcas de biológicos para imunizar seu Pet. Prezamos pelo serviço de imunização ao longo de toda vida do 
                nosso paciente, pois entendemos que a prevenção é o melhor caminho.</li>
            <li>Valor: R$ 40,00</li>
        </ul>
    </ul>
</section>
